@font-face {
  font-family: 'Spartan';
  font-weight: normal;
  font-style: normal;
  src: url('./Spartan-Regular.ttf');
}

@font-face {
  font-family: 'Spartan';
  font-weight: bold;
  font-style: normal;
  src: url('./Spartan-Bold.ttf');
}
